# A time Story of offshore Societies

You can see the aim of this project in the README file.

Our work is based on 4 databases, namely the *bahamas leaks*, the *panama papers*, the *offshore leaks* and the *paradise papers*. They all contain csv files with all the data of a graph : nodes (one file for each type of node), and edges. We merged all these files in this notebook.

You will see all the steps of our data exploration. In the end our objective is to arrive to two Dataframe, one containing all the nodes and the relevant information, and one containing the edges with relevant information.

## Imports

In [1]:
import pandas as pd
import numpy as np
import networkx as nx #For graphs
import copy
import warnings
from datetime import *
import dateutil.parser
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt

# https://www.occrp.org/en/panamapapers/database
# TRUMP OFFSHORE INC. is good example to see all entities interacting

## Filenames / paths

The data is separated for every leak source. For each leak source there is a folder containing the nodes of the graph, that can be of different types : <i>intermediary, officer, entity, address</i> (and <i>other</i> for paradise papers only). The folder also contains the edges of this graph.

In [2]:
bahamas_folder = "bahamas/"
panama_folder = "panama/"
paradise_folder = "paradise/"
offshore_folder = "offshore/"

sources_names = ['bahamas', 'panama', 'paradise', 'offshore']

panama_name = panama_folder + "panama_papers"
paradise_name = paradise_folder + "paradise_papers"
offshore_name = offshore_folder + "offshore_leaks"
bahamas_name = bahamas_folder + "bahamas_leaks"

edges_name = ".edges"
nodes_name = ".nodes."

address_name = "address"
intermediary_name = "intermediary"
officer_name = "officer"
entity_name = "entity"
others_name = "other" # Only for paradise paper there is this extra entity

usual_entity_names = [address_name, intermediary_name, officer_name, entity_name]

## Build local storage

We store data in dictionnaries that map each leak source to its content, which is a dictionnary that maps each type of entity to the Dataframe containing its values. For example <b>d_sources["bahamas"]["officer"]</b> is the Dataframe of officers coming from the bahamas leaks.

In [3]:
def my_read_csv(filename) :
    """ To have same rules when reading data from csv """
    return pd.read_csv(filename, dtype = str)

def build_dict(source_name):
    """
    Create a dictionnary for a certain source_name (among : Panama papers, Paradise papers...)
    that maps to each entity name (among : Officer, Intermediary, Address...)
    the content of the csv from source_name for this entity
    """
    d = {en : my_read_csv(source_name + nodes_name + en + ".csv") for en in usual_entity_names}
    
    if source_name == paradise_name: # Extra "other" entity in paradise papers
        d[others_name] = my_read_csv(source_name + nodes_name + others_name + ".csv")
    
    #Add edges
    d["edges"] = my_read_csv(source_name + edges_name + ".csv")
              
    return d

Build the dictionnary, that maps each source to its content

In [4]:
d_sources = dict()
d_sources["bahamas"] = build_dict(bahamas_name)
d_sources["panama"] = build_dict(panama_name)
d_sources["paradise"] = build_dict(paradise_name)
d_sources["offshore"] = build_dict(offshore_name)

In [5]:
d_sources['panama']['entity'].columns

Index(['node_id', 'name', 'jurisdiction', 'jurisdiction_description',
       'country_codes', 'countries', 'incorporation_date', 'inactivation_date',
       'struck_off_date', 'closed_date', 'ibcRUC', 'status', 'company_type',
       'service_provider', 'sourceID', 'valid_until', 'note'],
      dtype='object')

## Getting familiar with the data format

### Define some coloring for printing

Keep the same coloring during the project, it makes data very easily readable once you get familiar with the coloring !

In [6]:
BOLD = '\033[1m'
BLUE = '\033[94m'
GREEN = '\033[92m'
YELLOW = '\033[93m'
RED = '\033[91m'
END = '\033[0m'

color_dict = dict()
color_dict["bahamas"] = YELLOW
color_dict["paradise"] = GREEN
color_dict["panama"] = RED
color_dict["offshore"] = BLUE

def color(str):
    """
    Returns the str given in the color of the source it is from 
    (the str must contain source name)
    """
    for source in color_dict.keys():
        if source in str:
            return color_dict[source] + str + END 
        
    return BOLD + str + END #Default color is BOLD

for name, _ in color_dict.items():
    print(color(name))
print(color("Unknown source"))

bahamas
paradise
panama
offshore
Unknown source

### See what data source misses which column

In [7]:
for source, dict_data in d_sources.items():
    for source_compare, dict_data_compare in d_sources.items():
        print("\n", color(source_compare), "missing columns from source :", color(source))
        for entity in usual_entity_names:
            missing_columns = []
            for col in dict_data[entity].columns:
                if not col in dict_data_compare[entity].columns:
                    missing_columns.append(col)
            if(len(missing_columns) > 0):
                print("Node type", entity, "misses", len(missing_columns), "columns, namely : ", missing_columns)

 bahamas missing columns from source : bahamas

 panama missing columns from source : bahamas
Node type address misses 10 columns, namely :  ['labels(n)', 'jurisdiction_description', 'service_provider', 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'type', 'status', 'company_type']
Node type intermediary misses 10 columns, namely :  ['labels(n)', 'address', 'jurisdiction_description', 'service_provider', 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'type', 'company_type']
Node type officer misses 11 columns, namely :  ['labels(n)', 'address', 'jurisdiction_description', 'service_provider', 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'type', 'status', 'company_type']
Node type entity misses 3 columns, namely :  ['labels(n)', 'address', 'type']

 paradise missing columns from source : bahamas
Node type address misses 10 columns, namely :  ['labels(n)', 'jurisdiction_description', 'service_provider', 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'type', 'status', 'company_type']
Node type intermediary misses 11 columns, namely :  ['labels(n)', 'address', 'jurisdiction_description', 'service_provider', 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'type', 'status', 'company_type']
Node type officer misses 10 columns, namely :  ['labels(n)', 'address', 'jurisdiction_description', 'service_provider', 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'type', 'company_type']
Node type entity misses 3 columns, namely :  ['labels(n)', 'address', 'type']

 offshore missing columns from source : bahamas
Node type address misses 10 columns, namely :  ['labels(n)', 'jurisdiction_description', 'service_provider', 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'type', 'status', 'company_type']
Node type intermediary misses 10 columns, namely :  ['labels(n)', 'address', 'jurisdiction_description', 'service_provider', 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'type', 'company_type']
Node type officer misses 11 columns, namely :  ['labels(n)', 'address', 'jurisdiction_description', 'service_provider', 'jurisdiction', 'closed_date', 'incorporation_date', 'ibcRUC', 'type', 'status', 'company_type']
Node type entity misses 3 columns, namely :  ['labels(n)', 'address', 'type']

 bahamas missing columns from source : panama
Node type entity misses 2 columns, namely :  ['inactivation_date', 'struck_off_date']

 panama missing columns from source : panama

 paradise missing columns from source : panama
Node type intermediary misses 1 columns, namely :  ['status']

 offshore missing columns from source : panama

 bahamas missing columns from source : paradise
Node type entity misses 2 columns, namely :  ['inactivation_date', 'struck_off_date']

 panama missing columns from source : paradise
Node type officer misses 1 columns, namely :  ['status']

 paradise missing columns from source : paradise

 offshore missing columns from source : paradise
Node type officer misses 1 columns, namely :  ['status']

 bahamas missing columns from source : offshore
Node type entity misses 2 columns, namely :  ['inactivation_date', 'struck_off_date']

 panama missing columns from source : offshore

 paradise missing columns from source : offshore
Node type intermediary misses 1 columns, namely :  ['status']

 offshore missing columns from source : offshore

We see that <span style="color:orange">bahamas</span> is the most "complete" source, in the sense it is the one that has the biggest number of columns missing in the others. We will therefore use it to explore the content of columns. *'inactivation_date'* and  *'struck_off_date'* columns from entity will then be explored in <span style="color:red">panama</span>

#### Special case : Paradise paper, <i>other</i> node

In [8]:
d_sources["paradise"]["other"].columns

Index(['node_id', 'name', 'country_codes', 'countries', 'sourceID',
       'valid_until', 'note'],
      dtype='object')

### SourceID in different sources

We see paradise papers is the only source that has different sourceID

In [9]:
for source, dict_data in d_sources.items():
    print("\nSource :", color(source))
    for entity in usual_entity_names:
        value_count =  dict_data[entity]["sourceID"].value_counts()
        print("Node :", entity, len(value_count), "different sourceID :")

Source : bahamas
Node : address 1 different sourceID :
Node : intermediary 1 different sourceID :
Node : officer 1 different sourceID :
Node : entity 1 different sourceID :

Source : panama
Node : address 1 different sourceID :
Node : intermediary 1 different sourceID :
Node : officer 1 different sourceID :
Node : entity 1 different sourceID :

Source : paradise
Node : address 7 different sourceID :
Node : intermediary 5 different sourceID :
Node : officer 9 different sourceID :
Node : entity 9 different sourceID :

Source : offshore
Node : address 1 different sourceID :
Node : intermediary 1 different sourceID :
Node : officer 1 different sourceID :
Node : entity 1 different sourceID :

### Check if node_id is a good index for Nodes

In [10]:
merged_node_id = pd.Series()

for source, dict_data in d_sources.items():
    merged_node_id_source = pd.Series()
    for entity in usual_entity_names:
        
        merged_node_id_source = merged_node_id_source.append(dict_data[entity]["node_id"], ignore_index = True)
        
        if not dict_data[entity]["node_id"].is_unique:
            print("node_id isn't unique for source", color(source, "node", entity))
                  
    if not merged_node_id_source.is_unique:
        print("node_id isn't unique between nodes from source", color(source))
    
    merged_node_id = merged_node_id.append(merged_node_id_source.drop_duplicates())

if merged_node_id.is_unique:
    print("node_id is unique between unique nodes from all sources")

node_id isn't unique between nodes from source offshore
node_id is unique between unique nodes from all sources

So for each node type indepently node_id is a good index. Therefore (node_id, node_type) could be a good index (node_type being amond officer, intermediary...)

Now explore nodes with same node_id in offshore

In [11]:
for i in range(len(usual_entity_names)):
    for j in range(i+1, len(usual_entity_names)):

        left_node = usual_entity_names[i]
        node = usual_entity_names[j]
        print(color(left_node), color(node))
        
        if left_node != node:

            left = d_sources["offshore"][left_node].set_index("node_id")
            right = d_sources["offshore"][node].set_index("node_id")

            intersection = left.join(right, on = "node_id", how = 'inner', \
                                     lsuffix = "_" + left_node,rsuffix = "_" + node)

            if not intersection.empty:
                print("Intersection of", color(left_node), "and", color(node), "count is :")
                print(intersection.count())

address intermediary
address officer
address entity
intermediary officer
Intersection of intermediary and officer count is :
name_intermediary             1139
country_codes_intermediary    1139
countries_intermediary        1139
status                           0
sourceID_intermediary         1139
valid_until_intermediary      1139
note_intermediary                0
name_officer                  1139
country_codes_officer         1139
countries_officer             1139
sourceID_officer              1139
valid_until_officer           1139
note_officer                     0
dtype: int64
intermediary entity
officer entity

So the intersection on offshore is between officer and intermediary nodes. Let's see if they are the same values :

In [12]:
left = d_sources["offshore"]["officer"].set_index("node_id")
right = d_sources["offshore"]["intermediary"].set_index("node_id")

intersection = left.join(right, on = "node_id", how = 'inner', lsuffix = "_officer",rsuffix = "_interm")

intersection.loc[intersection["name_officer"] != intersection["name_interm"]].empty

True

Therefore we understand that if someone appears in two different node types, it means it is the same person, but has two roles. This is why in further analysis we will store the pair (node_id, role) as index, because it is unique. We have to add a column to nodes, containing the node type, let's call it label. We saw in the column exploration that bahamas has an equivalent column *labels(n)*, that the other's don't, we'll rename it to *label*

## Keep necessary columns, Shape data to our need

In [13]:
d_clean = dict()

#maps every node type to the columns to keep
d_columns = dict()
d_columns['address'] = ['country_codes', 'node_id']
d_columns['entity'] = ['node_id','name','jurisdiction','incorporation_date']
d_columns['intermediary'] = ['node_id', 'country_codes','name']
d_columns['officer'] = ['node_id', 'country_codes','name']
d_columns['other'] = ['node_id', 'country_codes','name']


for source, d in d_sources.items():
    
    d_clean[source] = dict()
    
    for node_type in usual_entity_names:
        d_clean[source][node_type] = d[node_type][d_columns[node_type]]
        d_clean[source][node_type]['source'] = source
        d_clean[source][node_type]['type'] = node_type
        d_clean[source][node_type]['node_id'] = d_clean[source][node_type]['node_id'].astype(np.int32)
    
    columns_edges = ['START_ID', 'END_ID', 'TYPE', 'start_date', 'end_date']        
    columns_edges_bahamas = ['node_1', 'node_2', 'rel_type', 'start_date', 'end_date']    
    
    if source == "bahamas": # adapt different column names
        d_clean[source]['edges'] = d_sources[source]['edges'][columns_edges_bahamas]
        d_clean[source]['edges'].columns = columns_edges
        
    else :
        d_clean[source]['edges'] = d_sources[source]['edges'][columns_edges]
    
    d_clean[source]['edges']['source'] = source
    d_clean[source]['edges']["START_ID"] = d_clean[source]['edges']["START_ID"].astype(np.int32)
    d_clean[source]['edges']["END_ID"] = d_clean[source]['edges']["END_ID"].astype(np.int32) 

d_clean['paradise']['other'] = d_sources['paradise']['other'][d_columns['other']]
d_clean["paradise"]['other']['source'] = 'paradise'
d_clean["paradise"]['other']['type'] = 'other'

### Create dictionaries for countries and jurisdictions

These dictionaries map the abrevation of countries to their full name, this way we can drop the longer column

In [14]:
countries = dict()
jurisdictions = dict()

for s in sources_names:
    for t in usual_entity_names:
        countries.update(dict(zip(d_sources[s][t]['country_codes'], d_sources[s][t]['countries'])))
        if t  == 'entity':
            jurisdictions.update(dict(zip(d_sources[s][t]['jurisdiction'], d_sources[s][t]['jurisdiction_description'])))
            
countries.update(dict(zip(d_sources['paradise']['other']['country_codes'],\
                          d_sources['paradise']['other']['countries'])))

## Create and study *node* dataframe

A pourcentage function to print pourcentages in a nice way

In [15]:
def pourcentage(n, precision = 2):
    """ To print a pourcentage in a nice way and with a given precision"""
    return color(("%." + str(precision) + "f") % (100.0*n) + "%")

A function to convert string of date to datetime format. There are a LOT of different string formats and we cover most of them. Dates with ambiguity such as 01/03/2001 are treated arbitrarily. (i.e. is this date 1st of March or 3rd of January ?) Indeed the year is generally what matters the most for us.

Years are valid until 2015 at most, and starting in the 1960s according to wikipedia (https://en.wikipedia.org/wiki/Panama_Papers)

When date is clearly an outlier (18/19/2006), it is set to NaN, and printed

In [16]:
def parse_date(date):
    """ Parsing of the date, read above for more details"""
    if (date==date):
        try:
            formatted = dateutil.parser.parse(date)
            if (formatted.year > 2015 or formatted.year < 1960):
                formatted = 'NaN'
            return formatted 
        except:
            print(date)
            return 'NaN'

### Node types that should contain NaN for each column name

Nodes can have NaN values because of missing data, <b>or</b> because the data doesn't make sense for this node type. You will here find a list of node types for each column, those are node types that are NaN because of this second reason. For example the jurisdiction for an Officer doesn't really make sense at first sight... We will however in the future try to cumpute all the jurisdictions an officer is related to using the edges (and many more)

##### name
- Address

##### jurisdiction and incorporation_date
- Officer
- Other
- Intermediary
- Address

##### country_codes
- Entity

In [17]:
nodes = pd.DataFrame(columns=['node_id','source','type','name','country_codes', 'jurisdiction', 'incorporation_date'])

for source,_ in d_sources.items():
    for node_type in usual_entity_names:
        nodes = nodes.append(d_clean[source][node_type], sort=False)
        
nodes = nodes.append(d_clean['paradise']['other'], sort=False)

nodes = nodes.set_index(['node_id', 'type'])

nodes['incorporation_date'] = nodes['incorporation_date'].apply(parse_date)
nodes['incorporation_date'] = pd.to_datetime(nodes['incorporation_date'])

In [18]:
nodes.describe()

          source        name country_codes jurisdiction   incorporation_date
count    1909605     1534558        697326       785124               756095
unique         4     1252082          3573           80                15558
top     paradise  THE BEARER           CHN          BAH  1998-01-02 00:00:00
freq      867931       70871         69394       209634                 1368
first        NaN         NaN           NaN          NaN  1960-01-01 00:00:00
last         NaN         NaN           NaN          NaN  2015-12-31 00:00:00

It looks like there are a lot of unique country_codes... Indeed we notice some nodes have many country codes separated by a ';'

In [19]:
country_codes = nodes.country_codes.dropna()
number_multi_country = country_codes[country_codes.str.contains(";")].count()

print(pourcentage(number_multi_country/len(country_codes)), "of nodes with a country_code have a country_code with more than one country")

4.02% of nodes with a country_code have a country_code with more than one country

### Study by node type

In [20]:
nodes.xs('entity', level = 1).describe()

,source,name,country_codes,jurisdiction,incorporation_date
count,785124,785095,0.0,785124,756095
unique,4,754951,0.0,80,15558
top,paradise,DE PALM TOURS N.V. - DE PALM TOURS,NaN,BAH,1998-01-02 00:00:00
freq,290086,19,NaN,209634,1368
first,NaN,NaN,NaN,NaN,1960-01-01 00:00:00
last,NaN,NaN,NaN,NaN,2015-12-31 00:00:00

In [21]:
nodes.xs('officer', level = 1).describe()

          source        name country_codes  jurisdiction  incorporation_date
count     720862      720800        423683           0.0                 0.0
unique         4      507696          3510           0.0                 0.0
top     paradise  THE BEARER           MLT           NaN                 NaN
freq      350008       70871         44916           NaN                 NaN

In [22]:
nodes.xs('intermediary', level = 1).describe()

,source,name,country_codes,jurisdiction,incorporation_date
count,25745,25744,23152,0.0,0.0
unique,4,24621,285,0.0,0.0
top,panama,HUTCHINSON GAYLE A.,HKG,NaN,NaN
freq,14110,62,4895,NaN,NaN

In [23]:
nodes.xs('address', level = 1).describe()

          source  name country_codes  jurisdiction  incorporation_date
count     374955   0.0        250105           0.0                 0.0
unique         4   0.0           216           0.0                 0.0
top     paradise   NaN           CHN           NaN                 NaN
freq      223350   NaN         31984           NaN                 NaN

In [24]:
nodes.xs('other', level = 1).describe()

,source,name,country_codes,jurisdiction,incorporation_date
count,2919,2919,386,0.0,0.0
unique,1,2912,63,0.0,0.0
top,paradise,Renaissance Group,IMN,NaN,NaN
freq,2919,2,105,NaN,NaN

## Create and study *edges* dataframe

In [25]:
edges = pd.DataFrame(columns=['START_ID', 'END_ID', 'TYPE', 'start_date', 'end_date','source'])
for source in sources_names:
    edges = edges.append(d_clean[source]['edges'], sort=False)

edges['start_date'] = pd.to_datetime(edges['start_date'].apply(parse_date))
edges['end_date'] = pd.to_datetime(edges['end_date'].apply(parse_date))

18/19/2015
16/20/2013
05152015
05152015
05152015
05152015
05152015
05152015
05152015
05152015
1212012
29/02/2006
29/02/2006
28.02/2014
06/01.2009
25090015
31/02/2013
31/02/2013
31/02/2013
12-112013
284/2015

Printed strings are dates that were not read correctly

In [26]:
edges.describe()

,START_ID,END_ID,TYPE,start_date,end_date,source
count,3142523.0,3142523.0,3142523,928670,266893,3142523
unique,1054794.0,1224551.0,13,12353,8545,4
top,54662.0,236724.0,officer_of,1969-12-31 00:00:00,2012-09-30 00:00:00,paradise
freq,36373.0,37338.0,1667166,1848,9663,1657838
first,NaN,NaN,NaN,1960-03-10 00:00:00,1960-05-30 00:00:00,NaN
last,NaN,NaN,NaN,2015-12-31 00:00:00,2015-12-31 00:00:00,NaN

We see there are <b>13</b> unique kind of edges, they are listed below. In further analysis it will be interesting to study each of them in more depth.

In [27]:
edges.TYPE.unique()

array(['same_address_as', 'same_company_as', 'similar_company_as',
       'intermediary_of', 'registered_address', 'same_name_as',
       'same_intermediary_as', 'officer_of', 'probably_same_officer_as',
       'connected_to', 'same_id_as', 'same_as', 'underlying'],
      dtype=object)

### Study dates

In [28]:
number_edges = len(edges)
number_start_date = edges.start_date.notna().sum()
number_end_date = edges.end_date.notna().sum()

In [29]:
print(pourcentage(number_start_date/number_edges), "of edges have a start date")
print("Among those,", pourcentage(number_end_date/(number_end_date+number_start_date)), "have an end date")
print("The first added relation was the", edges.start_date.min())
print("The last added relation was the", edges.start_date.max())

29.55% of edges have a start date
Among those, 22.32% have an end date
The first added relation was the 1960-03-10 00:00:00
The last added relation was the 2015-12-31 00:00:00

### Study average and extreme values

In [30]:
print(edges.START_ID.value_counts().describe(), '\n')
print(edges.END_ID.value_counts().describe())

count    1.054794e+06
mean     2.979277e+00
std      6.123411e+01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      3.637300e+04
Name: START_ID, dtype: float64

count    1.224551e+06
mean     2.566266e+00
std      3.778810e+01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      3.733800e+04
Name: END_ID, dtype: float64

We see that on average <b>2.98</b> edges start with the same node_id, and <b>2.57</b> end with the same node_id

Max number of connections starting from a given node is <b>36373</b>, and <b>37338</b> ending (another node)

## Study connection between edges and nodes

In [31]:
id_max_links_start = edges.START_ID.value_counts().idxmax()
max_links_start = edges.START_ID.value_counts().max()
node_max_links_start = nodes.xs(id_max_links_start, level=0)

id_max_links_end = edges.END_ID.value_counts().idxmax()
max_links_end = edges.END_ID.value_counts().max()
node_max_links_end = nodes.xs(id_max_links_end, level=0)

In [32]:
print("The Node with the most START edges has", color(str(max_links_start)), "links and is :")
print(node_max_links_start[['source', 'name', 'country_codes']])

print("\nThe Node with the most END edges has", color(str(max_links_end)), "links and is :")
print(node_max_links_end[['source', 'country_codes']])

The Node with the most START edges has 36373 links and is :
                source                               name    country_codes
type
intermediary  offshore  Portcullis TrustNet (BVI) Limited  THA;VGB;IDN;SGP
officer       offshore  Portcullis TrustNet (BVI) Limited  THA;VGB;IDN;SGP

The Node with the most END edges has 37338 links and is :
           source country_codes
type
address  offshore           VGB

## Useful sets for the following study

In [35]:
start_nodes = set(edges.START_ID)
end_nodes = set(edges.END_ID)

nodes_address_ids = set(nodes.xs('address', level='type').index.values)
nodes_officer_ids = set(nodes.xs('officer', level='type').index.values)
nodes_entity_ids = set(nodes.xs('entity', level='type').index.values)
nodes_intermediary_ids = set(nodes.xs('intermediary', level='type').index.values)
nodes_other_ids = set(nodes.xs('other', level='type').index.values)

d_nodes_ids = {
    'address': nodes_address_ids,
    'officer': nodes_officer_ids,
    'entity' : nodes_entity_ids,
    'intermediary' : nodes_intermediary_ids,
    'other'  : nodes_other_ids
}

node_ids = frozenset().union(*d_nodes_ids.values())

linked_nodes = start_nodes.union(end_nodes)
isolated_nodes = node_ids.difference(linked_nodes)

## Study nodes that are isolated

In [36]:
print("There are", color(str(len(isolated_nodes))), "isolated nodes (0 edge connecting them)")

There are 3277 isolated nodes (0 edge connecting them)

In [37]:
mask_isolated = nodes.index.get_level_values(0).isin(isolated_nodes)
nodes[mask_isolated].describe()

          source        name country_codes jurisdiction   incorporation_date
count       3277        3261           428          184                  145
unique         4        3233            73            3                  109
top     paradise  THE BEARER           IMN          KNA  1980-01-01 00:00:00
freq        3069          21           106          149                    9
first        NaN         NaN           NaN          NaN  1980-01-01 00:00:00
last         NaN         NaN           NaN          NaN  2011-08-05 00:00:00

## Planning

We are planning to infer using the edges:
- all the jurisdictions some nodes such as *officer* have links to, in order to see if see if they are connected to accounts in different jurisdictions.
- for *entity* the country_codes, which would be the country of the people that are connected to this jurisdiction.

# Add all content to edges

In [55]:
merge_nodes = nodes.reset_index()[['node_id', 'type', 'country_codes', 'jurisdiction']]
merge_nodes.columns = ['id', 'start_type', 'start_country', 'start_jurisdiction']

edges_completed = edges.merge(merge_nodes, how = 'left', left_on='START_ID', right_on='id')

merge_nodes.columns = ['id', 'end_type', 'end_country', 'end_jurisdiction']

edges_completed = edges_completed.merge(merge_nodes, how = 'left', left_on='END_ID', right_on='id')

edges_completed = edges_completed.drop(columns = ['id_x', 'id_y'])

edges_completed.describe()

,START_ID,END_ID,TYPE,start_date,end_date,source,start_type,start_country,start_jurisdiction,end_type,end_country,end_jurisdiction
count,3195525.0,3195525.0,3195525,935427,267110,3195525,3183572,2355743,335293,3193253,565737,2342999
unique,1054794.0,1224551.0,13,12353,8545,4,4,3570,69,4,403,79
top,54662.0,236724.0,officer_of,1969-12-31 00:00:00,2012-09-30 00:00:00,paradise,officer,MLT,MLT,entity,VGB,MLT
freq,72746.0,37339.0,1710470,1848,9663,1657838,2192097,412768,83929,2342999,59521,565238
first,NaN,NaN,NaN,1960-03-10 00:00:00,1960-05-30 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,NaN,NaN,2015-12-31 00:00:00,2015-12-31 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
edges_completed[(edges_completed['start_jurisdiction'] != edges_completed['end_jurisdiction']) \
               & (edges_completed['start_jurisdiction'].notna()) & ((edges_completed['end_jurisdiction'].notna()))]

,START_ID,END_ID,TYPE,start_date,end_date,source,start_type,start_country,start_jurisdiction,end_type,end_country,end_jurisdiction
1837,20012609,228325,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
6056,20058081,200999,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
6342,20058153,221360,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
6361,20058300,194656,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
7644,20059382,195200,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
8315,20070986,214902,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
8541,20066900,190102,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
8713,20062184,201659,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
9026,20060833,195211,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
9469,20061167,201412,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
10044,20083328,217290,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
10098,20080427,207384,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
10099,20080428,207395,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
10468,20078866,231264,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
10469,20078867,231440,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
10470,20078868,231107,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
10602,20091742,218007,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
11023,20089985,218041,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
11708,20096104,228241,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
11806,20085239,228137,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
11915,20108318,228737,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
12037,20097454,228765,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
12060,20104033,228330,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
12466,20098129,218613,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
12534,20109822,216741,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
12535,20109823,216747,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
12536,20109824,216364,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
12537,20109825,216742,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
12538,20109826,216748,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
12551,20109994,210001,same_company_as,NaT,NaT,bahamas,entity,NaN,BAH,entity,NaN,XXX
...,...,...,...,...,...,...,...,...,...,...,...,...
2619510,174790,172702,registered_address,NaT,NaT,offshore,entity,NaN,SAM,entity,NaN,COOK
2623149,176933,166807,registered_address,NaT,NaT,offshore,entity,NaN,SAM,entity,NaN,SGP
2658938,131566,162938,registered_address,NaT,NaT,offshore,entity,NaN,BVI,entity,NaN,SGP
2661002,147263,164970,registered_address,NaT,NaT,offshore,entity,NaN,BVI,entity,NaN,SGP
2661003,147263,164971,registered_address,NaT,NaT,offshore,entity,NaN,BVI,entity,NaN,SGP
2662067,158525,172859,registered_address,NaT,NaT,offshore,entity,NaN,HK,entity,NaN,COOK
2662361,161827,161922,registered_address,NaT,NaT,offshore,entity,NaN,BVI,entity,NaN,MALAY
2662362,161827,161643,registered_address,NaT,NaT,offshore,entity,NaN,BVI,entity,NaN,LABUA
2662371,161863,174307,registered_address,NaT,NaT,offshore,entity,NaN,SGP,entity,NaN,SAM
2662376,161915,161826,registered_address,NaT,NaT,offshore,entity,NaN,MALAY,entity,NaN,BVI
2662458,162799,162713,registered_address,NaT,NaT,offshore,entity,NaN,BVI,entity,NaN,COOK
2662511,163395,166461,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2662532,163575,166464,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2662602,164194,166471,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2662612,164284,172804,registered_address,NaT,NaT,offshore,entity,NaN,BVI,entity,NaN,COOK
2662621,164396,166476,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2662660,164645,166479,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2662664,164683,166492,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2662689,164901,166500,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2662718,165173,166506,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2662858,166445,162824,registered_address,NaT,NaT,offshore,entity,NaN,XXX,entity,NaN,CAYMN
2662860,166448,163202,registered_address,NaT,NaT,offshore,entity,NaN,XXX,entity,NaN,CAYMN
2662861,166466,163866,registered_address,NaT,NaT,offshore,entity,NaN,XXX,entity,NaN,CAYMN
2662862,166477,164481,registered_address,NaT,NaT,offshore,entity,NaN,XXX,entity,NaN,CAYMN
2662863,166503,165060,registered_address,NaT,NaT,offshore,entity,NaN,XXX,entity,NaN,CAYMN
2662864,166506,165173,registered_address,NaT,NaT,offshore,entity,NaN,XXX,entity,NaN,CAYMN
2662882,166713,166714,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2662883,166714,166713,registered_address,NaT,NaT,offshore,entity,NaN,XXX,entity,NaN,CAYMN
2662913,166925,166941,registered_address,NaT,NaT,offshore,entity,NaN,CAYMN,entity,NaN,XXX
2663230,175155,172702,registered_address,NaT,NaT,offshore,entity,NaN,SAM,entity,NaN,COOK

### *2) Do people that are related to one offshore account tend to be related to many more? In other words, is it more likely to have another account once you already have one, than it is to have at least one account?*

### *5) Is there a correlation between the location of the people and the location of their offshore society?*

Study the type of START nodes and of END nodes to see if there is a logic (entity always START node etc...)

In [ ]:
mask_officer_to_entity = (edges['start_type'] == 'officer') & (edges['end_type'] == 'entity')
edges_officer_to_entity = edges[mask_officer_to_entity]

edges_officer_to_entity.TYPE.value_counts()

Should we consider the ones not leading to entity as outliers and withdraw them ?

In [63]:
edges_completed[edges_completed['end_type'] == 'other']

Empty DataFrame
Columns: [START_ID, END_ID, TYPE, start_date, end_date, source, start_type, start_country, start_jurisdiction, end_type, end_country, end_jurisdiction]
Index: []

In [62]:
edges_completed[edges_completed['start_type'] == 'other']

Empty DataFrame
Columns: [START_ID, END_ID, TYPE, start_date, end_date, source, start_type, start_country, start_jurisdiction, end_type, end_country, end_jurisdiction]
Index: []

## TODO : column link is more precise (shareholder of) just not there in bahamas
## Should be added with NaN if not there
## There is no edge between 'other' nodes ?

## Analysis of start/end nodes

In [ ]:
mask_start_node = nodes.index.get_level_values(0).isin(start_nodes)
mask_end_node = nodes.index.get_level_values(0).isin(end_nodes)

start_nodes_type = nodes[mask_start_node].index.get_level_values("type").tolist()
end_nodes_type = nodes[mask_end_node].index.get_level_values("type").tolist()

In [ ]:
pd.Series(start_nodes_type).value_counts()

So Address is (almost) never an end node (makes sense condsidering the name of edge is "address of")

In [ ]:
pd.Series(end_nodes_type).value_counts()

So intermediary is (almost) never an end node

Entity is the only node type to have jurisdiction, we need to link every entity with the other nodes that do contain a country_code. Let's see first if connected components always have the one country_code, and if not quantify it.

In [ ]:
edges_officer_to_entity[edges_officer_to_entity['TYPE'] == 'officer_of']

Use slicers to access a set of values on index